.box-model-external{
    padding: 10px;
    border: 1px solid rebeccapurple;
    margin: 10px;
}

.p-all-sides{
    padding: 30px;
    margin: 0;
    border: 1px solid green;
}

.pl-30{
    padding-left: 30px;
    margin: 0;
    border: 1px solid green;
}

.pt-30{
    padding-top: 30px;
    margin: 0;
    border: 1px solid green;
}

.pr-30{
    padding-right: 30px;
    margin: 0;
    border: 1px solid green;
}

.pb-30{
    padding-bottom: 30px;
    margin: 0;
    border: 1px solid green;
}

.py{
    /* 40px - top and bottom; 90px - left and right */
    padding: 40px 90px; 
    margin: 0;
    border: 1px solid green;
}



.m-all-sides{
    margin: 0;
    margin: 30px;
    border: 1px solid rgb(34, 0, 128);
}

.ml-30{
    margin: 0;
    margin-left: 30px;
    border: 1px solid rgb(34, 0, 128);
}

.mt-30{
    margin: 0;
    margin-top: 30px;
    border: 1px solid rgb(34, 0, 128);
}

.mr-30{
    margin: 0;
    margin-right: 30px;
    border: 1px solid rgb(34, 0, 128);
}

.mb-30{
    margin: 0;
    margin-bottom: 30px;
    border: 1px solid rgb(34, 0, 128);
}

.my{
    /* 40px - top and bottom; 90px - left and right */
    margin: 0;
    margin: 40px 90px; 
    border: 1px solid rgb(34, 0, 128);
}

.border-solid{
    border: 4px solid orangered;
}


.border-dotted{
    border: 4px dotted rgb(8, 37, 6);
}

.border-double{
    border: 4px double rgb(52, 10, 10);
}

.p-20{
    padding: 20px;
}

.border-individual{
   border-width: 5px;
   border-style: dotted;
   border-color: blueviolet; 
}

.border-top{
    border-top: 2px solid blue;
}

.border-bottom{
    border-bottom: 2px solid rgb(60, 122, 68);
}

.font-fam{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.google-font{
    font-family: "Edu VIC WA NT Beginner", cursive;
}

.text-center{
    text-align: center;
}

.font-wght{
    font-weight: bolder;
}

.fsz-18{
    font-size: 18px;
}


.fsz-24{
    font-size: 24px;
}

.all-properties {
    border: 2px solid gray;
    color:rgb(133, 28, 28);
    margin: 30px 0;
}

.all-properties-para{
    padding: 10px;
    text-align: justify;
    color: green;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}


.bg-wrapper{
    background-color: bisque;
}

.text-justify{
    text-align: justify;
}

.p-bg-1{
    background-color: white;
}

.p-bg-2{
    background-color: grey;
    color: white;
}

.p-10{
    padding: 10px;
}

.bg-wrapper-image{
    background-color: cadetblue;
    background-image: url('https://lh3.googleusercontent.com/p/AF1QipMSG5asG9ehmAfMSPaBwup-kJa5-VSe7iAYs02r=s1360-w1360-h1020');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-color{
    color: white;
}
